<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 本俱乐部管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('info/index')}" data-title="基本信息管理" href="javascript:void(0)">基本信息</a></li>
					<li><a data-href="{:url('video/index')}" data-title="视频管理" href="javascript:void(0)">视频管理</a></li>
					<li><a data-href="{:url('course/index')}" data-title="课程管理" href="javascript:void(0)">课程管理</a></li>
					<li><a data-href="{:url('coach/index')}" data-title="教练管理" href="javascript:void(0)">教练管理</a></li>
			</ul>
		</dd>
	</dl>


</div>
</aside>