<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('UserList/index')}" data-title="用户管理" href="javascript:void(0)">用户列表</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 晒图管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('post/index')}" data-title="晒图管理" href="javascript:void(0)">晒图列表</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 培训管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('train/train')}" data-title="培训列表" href="javascript:void(0)">培训列表</a></li>

			</ul>
		</dd>
	</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('comment/index')}" data-title="评论列表" href="javascript:;">评论列表</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 俱乐部管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('club_list/index')}" data-title="俱乐部列表" href="javascript:;">俱乐部列表</a></li>
					<li><a data-href="{:url('club_auditing/index')}" data-title="俱乐部申请列表" href="javascript:;">俱乐部申请列表</a></li>

			</ul>
		</dd>
	</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 最近比赛<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('game/index')}" data-title="最近比赛" href="javascript:void(0)">最近比赛列表</a></li>

			</ul>
		</dd>
	</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 精彩活动<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('activity/index')}" data-title="精彩活动" href="javascript:;">精彩活动列表</a></li>
					<li><a data-href="{:url('enroll/index')}" data-title="报名列表" href="javascript:;">报名列表</a></li>
			</ul>
		</dd>
	</dl>	
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 权威大师管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('master/index')}" data-title="大师列表" href="javascript:;">大师列表</a></li>
					<li><a data-href="{:url('question/index')}" data-title="权威大师问答" href="javascript:;">问答列表</a></li>
					<li><a data-href="{:url('video/index')}" data-title="大师视频" href="javascript:;">大师视频</a></li>
			</ul>
		</dd>
	</dl>	
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 轮播图管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('banner/index')}" data-title="轮播图列表" href="javascript:;">轮播图列表</a></li>
			</ul>
		</dd>
	</dl>	

	<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe66a;</i> 奖品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('award/index')}" data-title="奖品列表" href="javascript:;">奖品列表</a></li>
					<li><a data-href="{:url('award/change')}" data-title="已兑换列表" href="javascript:;">已兑换列表</a></li>
			</ul>
		</dd>
	</dl>

	<dl id="menu-member">
		<dt><i class="Hui-iconfont">&#xe66a;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a data-href="{:url('activityorder/index')}" data-title="订单列表" href="javascript:;">订单列表</a></li>
		</ul>
	</dd>
</dl>


</div>
</aside>